$color-primary: #CC601A;$color-secondary: #044F6E;
$color-black: #1C1C1C;
$color-white: #FAFAFA;
$color-success: #A1D3BF;
$color-danger: #9E004F;

$font-size-human: 1rem;
$font-size-cow: 1.2rem;
$font-size-rhino: 1.6rem;
